
*{
    text-decoration: none;
    margin:0;
    padding:0;
}

header{
display: flex;
height: 100px;
align-items: center;
width: 100%;
justify-content: space-between;
border-bottom: 1px solid orchid;
box-shadow:  0 1.5px 1.5px 0 rgba(0, 0, 0, .2);
margin-bottom: 20px;
padding:0 20px;
}

h3 span{
    color: orchid;
    font-weight: bold;
}

header .nav{
    /* float: right; */
    margin-right: 20px;
}
header .nav a{
    /* float: right; */
    margin: 0 10px;
    color: orchid
}

#input{
    width: 400px;
}

#btn{
    background: orchid;
}

section{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 20px;
}

section img{
    width: 180px;
    height: 240px;
    margin: 10px;
    border-radius: 10px;
    transition: 350ms all;
}

img:hover{
    margin-left:0 40px ;
    transform: scale(1.2);
    cursor: pointer;
}